<!doctype html>
<html>
  <head>
    <title>{{ name | default('API documentation') }}</title>
    <meta charset="{{ encoding | default('utf-8') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      body { margin: 0; padding: 0; }
    </style>
  </head>
  <body>
    <redoc
           {{ 'lazy-rendering' if opts['lazy-rendering'] }}
           {{ 'suppress-warnings' if opts['suppress-warnings'] }}
           {{ 'hide-hostname' if opts['hide-hostname'] }}
           {{ 'required-props-first' if opts['required-props-first'] }}
           {{ 'no-auto-auth' if opts['no-auto-auth'] }}
           {{ 'path-in-middle-panel' if opts['path-in-middle-panel'] }}
           {{ 'hide-loading' if opts['hide-loading'] }}
           {{ 'native-scrollbars' if opts['native-scrollbars'] }}
           {{ 'untrusted-spec' if opts['untrusted-spec'] }}
           {{ 'expand-responses="%s"' % ','.join(opts['expand-responses']) if opts['expand-responses'] }}>
    </redoc>

    <script src="{{ pathto('_static/redoc.js', 1) }}"></script>
    {% if embed %}
    <script type="application/json" id="spec">
    {{ spec }}
    </script>
    {% endif %}
    <script>
        {% if embed %}
        var spec = JSON.parse(document.getElementById("spec").innerHTML);
        {% else %}
        var spec = "{{ pathto(spec, 1) }}";
        {% endif %}
        Redoc.init(spec);
    </script>
  </body>
</html>
